---
import IconArrow from "../svg/IconArrow.astro";
import Rectangle57 from "../../img/Rectangle 57.webp";
---

<section class="relative w-full py-24 bg-[#010208] text-white">
  <div
    class="absolute left-0 top-0 w-[100%] h-[100%] bg-[radial-gradient(ellipse_at_left,_var(--tw-gradient-stops))] from-[#AA14F050] via-transparent to-transparent"
  >
  </div>
  <div
    class="absolute left-0 top-0 w-[100%] h-[100%] bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-[#AA14F050] via-transparent to-transparent"
  >
  </div>

  <div
    class="relative w-[97%] flex flex-col justify-between items-center m-auto z-10 rounded-xl overflow-hidden py-4 lg:flex-row lg:w-[90%] lg:py-0 bg__client"
  >
    <div class="px-5 py-3">
      <h2 class="text-3xl font-bold">
        Explore product in <span class="lg:block">new way</span>
      </h2>
      <p class="py-4 text-xl">
        We specialize in creating visual identities for
        <span class="block"> products and branda in your company.</span>
      </p>
      <div class="flex flex-col gap-5 items-center py-8 sm:flex-row">
        <div class="relative">
          <input
            type="email"
            class="h-[35px] w-[350px] outline-none px-3 rounded-xl bg__client input__email"
            id="email"
            name="email"
            placeholder=" "
          />
          <label for="email" class="label__email">Email</label>
        </div>
        <div>
          <button
            class="bg-gradient-to-l from-[#C54B8C] to-[#BC3CD8] px-8 py-2 font-bold rounded-md transition-colors duration-150 hover:opacity-80 flex gap-4 items-center"
          >
            <i>Start</i>
            <IconArrow />
          </button>
        </div>
      </div>
    </div>

    <div class="relative z-10">
      <picture>
        <img
          src={Rectangle57}
          alt=""
          class="object-cover saturate-200 rounded-xl lg:rounded-none"
        />
      </picture>
    </div>
  </div>
</section>

<script>
  const emailInput = document.querySelector(".input__email");
  const text = document.querySelector(".label__email");

  emailInput.addEventListener("input", (e) => {
    validarEmail(e.target.value);
  });
  function validarEmail(email = "") {
    if (typeof email !== "string") return;
    let expReg =
      /[a-z0-9]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})/i.test(
        email
      );

    if (emailInput.value !== "" && !expReg) {
      text.innerHTML = `Please provide a correct email address either`;
      text.classList.add("email__error");
    } else {
      text.innerHTML = "Email";
      text.classList.remove("email__error");
    }
  }
</script>

<style>
  .bg__client {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
  .bg-coment {
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .label__email {
    position: absolute;
    transform: translateY(5px);
    left: 7px;
    top: 1px;
    transition: all 0.3s;
    pointer-events: none;
  }

  .input__email:focus + .label__email,
  .input__email:not(:placeholder-shown) + .label__email {
    transform: translateY(-20px);
    left: 0px;
    top: -10px;
  }
  .email__error {
    color: rgb(243, 72, 72);
    font-weight: 600;
  }
</style>
