---
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="absolute left-[1px] bottom-0 px-6 py-3 w-[60%] galllery-item">
  <p class="text-xl font-semibold">{title}</p>
  <p>{description}</p>
</div>

<script>
  const imgs = document.querySelectorAll(".img__gallery");
  const itemGallery = document.querySelectorAll(".galllery-item");
  for (let i = 0; i < imgs.length; i++) {
    imgs[i].addEventListener("mouseover", () => {
      itemGallery[i].classList.add("activo");
    });
    imgs[i].addEventListener("mouseout", () => {
      itemGallery[i].classList.remove("activo");
    });
  }
</script>
<style>
  .galllery-item {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-out;
    transform: translateY(-20px);
  }
  .activo {
    opacity: 1;
    pointer-events: none;
    transform: translateY(0px);
  }
</style>
