---
import ComentClient from "./ComentClient.astro";
import Company from "./Company.astro";
import Conctac from "./Conctac.astro";
import Gallery from "./Gallery.astro";
import Home from "./Home.astro";
import NewExperience from "./NewExperience.astro";
---

<main>
  <Home />
  <NewExperience />
  <Gallery />
  <ComentClient />
  <Company/>
  <Conctac/>
</main>
