---
import Group3 from "../../img/Group 3.webp";
import Group28 from "../../img/Group 28.webp";
---

<section class="relative bg-[#010208]">
  <div
    class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(ellipse_at_left,_var(--tw-gradient-stops))] from-[#AA14F050] via-transparent to-transparent"
  >
  </div>

  <div class="relative w-full h-full z-10 flex flex-col lg:flex-row">
    <div class="pt-10 px-2 flex w-full justify-center items-center gap-16 lg:w-[60%]
    lg:pl-12 ">
      <div class="overflow-hidden">
        <picture>
          <img src={Group3} alt="" loading="lazy" class=" lg:h-[420px] object-cover" />
        </picture>
      </div>
      <div class="pt-16 overflow-hidden">
        <picture>
          <img src={Group28} alt="" loading="lazy"  class=" lg:h-[420px] object-cover" />
        </picture>
      </div>
    </div>
    <div class="relativ flex  items-center px-3 h-[100%] text-white lg:w-[40%]">
      <div class="pt-5 w-[470px] lg:pt-36">
        <h2 class="capitalize text-4xl font-semibold">
          <span class="block">New experience in</span>
          <span>playing game</span>
        </h2>
        <p class="pt-8 text-start text-xl">
          you can try playing the game with a new style and of course a more
          real feel , like you are the main character in your game and adventure
          in this new digital world
        </p>
        <div class="pt-10">
          <a
            href=""
            class="bg-gradient-to-l from-[#C54B8C] to-[#BC3CD8] px-6 py-3 font-bold rounded-md transition-colors duration-150 hover:opacity-80"
            >Sing Up</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
