---
import Group3 from "../../img/Group 3.png";
import Group28 from "../../img/Group 28.png";
---

<section class="relative bg-[#010208]">
  <div
    class="absolute left-0 top-0 w-[50%] h-[50%] bg-gradient-to-tl from-transparent via-transparent to-[#AA14F050]"
  >
  </div>
  <div
    class="absolute right-0 top-0 w-[50%] h-[40%] bg-gradient-to-tr from-transparent via-transparent to-[#AA14F050]"
  >
  </div>

  <div class="relative w-full h-full z-10 flex">
    <div class="pt-10 pl-12 flex w-[60%] gap-16">
      <div class="overflow-hidden">
        <picture>
          <img src={Group3} alt="" class="w-full h-[420px] object-cover" />
        </picture>
      </div>
      <div class="pt-16 overflow-hidden">
        <picture>
          <img src={Group28} alt="" class="w-full h-[420px] object-cover" />
        </picture>
      </div>
    </div>
    <div class="relativ w-[40%] h-[100%] text-white">
      <div class="pt-36 w-[470px]">
        <h2 class="capitalize text-4xl font-semibold ">
          <span class="block">New experience in </span>
          <span>playing game</span>
        </h2>
        <p class="pt-8 text-start text-xl">
          you can try playing the game with a new style and of course a more
          real feel , like you are the main character in your game and adventure
          in this new digital world
        </p>
        <div class="pt-10">
          <a
            href=""
            class="bg-gradient-to-l from-[#C54B8C] to-[#BC3CD8] px-6 py-3 font-bold rounded-md transition-colors duration-150 hover:opacity-80"
            >Sing Up</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
