---
import profile1 from "../../img/Ellipse 1.png";
import profile2 from "../../img/Ellipse 2.png";
import profile3 from "../../img/Ellipse 3.png";
import profile4 from "../../img/Ellipse 4.png";
---

<div class="relative flex justify-start gap-5">
  <div class="relative flex justify-start items-start py-0 px-0">
    <dir class="relative flex justify-start items-start py-0 px-0">
      <img src={profile1} alt="" class="" />
    </dir>
    <dir class="relative flex justify-start items-start py-0 px-0 -left-1">
      <img src={profile2} alt="" />
    </dir>
    <dir class="relative flex justify-start items-start py-0 px-0 -left-1">
      <img src={profile3} alt="" />
    </dir>
    <dir class="relative flex justify-start items-start py-0 px-0 -left-1">
      <img src={profile4} alt="" />
    </dir>
  </div>
  <div class="flex justify-center items-center">
    <p class="font-semibold">400k poples online</p>
  </div>
</div>
