---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Header/Nav.astro";
import Main from "../components/Main/Main.astro";
---

<Layout title="Virtual Reality">
  <div
    class="relative bg-gradient-to-b from-[#010208] via-[#010208] to-[#010208] h-full"
  >
    <div
      class="absolute left-0 top-0 w-[50%] h-[10%] bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-[#AA14F050] via-transparent to-transparent"
    >
    </div>

    <Nav />
    <Main />
  </div>
</Layout>
