<header class="relative flex justify-between px-7 py-5 text-white">
    <div>
        <p class="uppercase font-semibold">Light</p>
    </div>
    <div>
        <ul class="flex ">
            <li class="hover:text-[#C824EC] transition-colors duration-150">
                <a href="" class="px-4 py-2">Home</a>
            </li>
            <li class="hover:text-[#C824EC] transition-colors duration-150">
                <a href="" class="px-4 py-2">Company</a>
            </li>
            <li class="hover:text-[#C824EC] transition-colors duration-150">
                <a href="" class="px-4 py-2">Factures</a>
            </li>
            <li class="">
                <a href="" class="bg-gradient-to-l from-[#C54B8C]  to-[#BC3CD8] px-6 py-3 font-bold rounded-md transition-colors duration-150 hover:opacity-80">Sing Up</a>
            </li>
        </ul>
    </div>
</header>